<p>Click on the link below to Reset Your Password</p><br/>

<a href="<?php echo $activationUrl; ?>">Click here to Reset Your Password</a><br/>

<pre>or Visit this Link</pre>

<p><a href="<?php echo $activationUrl; ?>"><?php echo $activationUrl; ?></a></p>