.create_post_container {
    /* border: 1px solid black; */
    margin: 50px;
}

.create_post_header {
    width: 66%;
    height: 35px;
    margin-left: 17.3% !important;
    border: 2px solid black;
    border-radius: 5px;
}

.create_post_title {
    font-weight: bold;
}

.post_body {
    width: 70% !important;
    margin-left: 18% !important;
    border: 2px solid black;
}

.preview_image {
    /* border: 1px solid black; */
    width: 70%;
    margin-left: 18%;
}

#prev_img {
    width: 50%;
    margin-left: 25%;
}