.nav_bar {
    height: 50px;
    border: 2px solid black;
    margin-left: 11%;
    border-radius: 15px 50px 30px;
}
p {
    display: inline;
    padding: 10px;
    color: #003d4c !important;
    font-size: 20px;
}
p a {
    color: #003d4c;
}

p a .active {
    text-decoration: underline !important;
}

.search_profile {
    float: right;
    width: 50%;
    height: 100%;
}

.home_mypost {
    float: left;
    height: 100%;
}

.profile_username {
    font-size: 20px;
    color: #003d4c;
    display: inline !important;
}

.post_container {
    padding: 5px;
    margin-top: 10px;
    width: 75%;
    margin-left: 11%;
}

.post_content {
    margin-top: 50px;
    /* border: 1px solid black; */
    padding: 10px;
}

.posted_by {
    /* border: 1px solid black; */
    width: 100%;
}

.post{
    margin-bottom: 25px;
    /* border: 1px solid black; */
}

.post_cont {
    border: solid #003d4c;
    border-top-style: none;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 5px;
}

.prev {
    float: left;
    font-size: 25px !important;
}

.next {
    float: right;
    font-size: 25px !important;
}

.comment_cont {
    border: solid #003d4c;
    border-top-style: none;
    border-bottom-style: none;
    border-right-style: none;
    border-left-style: none;
    border-radius: 15px;
    /* margin-bottom: 15px; */
    padding: 5px;
    font-size: 15px !important;
}

.comment_body {
    font-size: 18px !important;
}

.comment_by {
    font-size: 15px !important;
}

.actionsBtn {
    color: #003d4c;
}

.shared_cont {
    border: 2px solid #003d4c !important;
    border-radius: 5px !important;
    padding: 5px !important; 
    margin-left: 10% !important; 
    width: 75% !important;
}

.active {
    text-decoration: underline !important;
}