.login {
    width: 75%;
    border: 2px solid #003d4c;
    border-radius: 15px 50px 30px;
    padding: 20px;
    height: 100%;
    margin-left: 15%;
}

.decor {
    float: right;
    margin-top: 50px;
}