body {
    height: 100%;
}
.profile_container {
    margin-top: 10px;
    height: 100% !important;
    border: 1px ridge #003d4c;
    border-radius: 15px 50px;
}
.left_profile {
    float: left;
    width: 30%;
    padding: 10px;
    border: 1px solid #003d4c;
    height: 100%;
    border-top-style: none;
    border-bottom-style: none;
    border-left-style: none;
}
.profile_pic {
    border-radius: 50%;
    width:200px;
    height: 250px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}
#profile_name {
    margin-top: 15% !important;
    margin:auto;
    margin-left: 5%;
    font-size: 25px;
    color: #003d4c;
}
.username {
    font-size: 17px !important;
    font-style: italic;
    margin-left: 2% !important;
    margin:auto;
}
.profile_count {
    margin-top: 10%;
    padding: 10px;
}
.edit_button {
    margin-top: 15%;
}
.right_profile {
    border: 1px solid #003d4c;
    height: 100% !important;
    width: 70%;
    float: right;
    border-top-style: none;
    border-bottom-style: none;
    border-right-style: none;
}
.cover_photo {
    height: 200px !important;
}
.follow_following_title {
    border-bottom: 2px solid #003d4c;
    padding: 10px;
}
.followers_list {
    padding: 10px;
}
.following_list {
    display: none;
}
.follow_cont {
    /* border: solid #003d4c; */
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
}
.edit_profile {
    padding: 10px;
    margin-top: 5%;
    margin: 50px;
    /* border: 1px solid black; */
}
.edit_profile_header {
    width: 75%;
    height: auto;
    margin-left: 13% !important;
    border: 2px solid #003d4c;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}
.edit_profile_tabs {
    width: 75%;
    height: auto;
    margin-left: 13% !important;
    border: 2px solid #003d4c;
    border-radius: 1px;
    padding: 5px;
}
.edit_profile_form {
    width: 75%;
    height: auto;
    margin-left: 13% !important;
    border: 2px solid  #003d4c;
    border-top-style: none;
    border-radius: 1px;
    padding: 10px;
}
#prevImg {
    height: 200px !important;
    width: 200px !important;
}